/* ==========================================================================
     HEADER SECTION
     ========================================================================== */
.Header-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #5094d8;
}

.Header-title {
  font-size: 40px;
  color: white;
  padding: 10px;
  text-align: center;
}

.Header-verse {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.Header-nav {
  display: flex;
  justify-content: left;
  align-items: center;
}

.Header-nav-list {
  display: flex;
  gap: 30px; /* Space between nav items */
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  padding: 10px 20px;
}

/* Default state for the nav item */
.Header-nav-item {
  text-decoration: none; /* Remove default underline */
  position: relative; /* For positioning pseudo-element */
  color: #1ba8e9;
  display: inline-block;
  font-size: smaller;
}

/* Underline effect with pseudo-element */
.Header-nav-item::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 0; /* Start with no width */
  height: 5px;
  background-color: #0066ff;
}

.Header-nav-item:hover::after {
  width: 100%; /* Fill the underline */
  transition: width 0.3s ease;
}
